@import "tailwindcss";

/* Custom styles */
.container-custom {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  background-color: #0a0a0a;
  color: #fafafa;
}

/* RTL support */
[dir="rtl"] .container-custom {
  padding-right: 1rem;
  padding-left: 1rem;
}

[dir="rtl"] .space-x-2> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="rtl"] .space-x-8> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}